<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="~/lib/material-dashboard/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/material-dashboard/css/material-dashboard.css" rel="stylesheet" />
    <link href="~/css/style.min.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper">
        <div id="nav">
            <!-- Navigation -->
            @Html.Partial("_NavigationMenuAdmin.cshtml")
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-transparent navbar-absolute">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"> </a>
                    </div>
                </div>
            </nav>
            <div class="content">
                <!-- Body -->
                @RenderBody()
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="~/lib/material-dashboard/js/jquery-3.2.1.min.js"></script>

    <script src="~/lib/material-dashboard/js/bootstrap.min.js"></script>
    <script src="~/lib/material-dashboard/js/material.min.js"></script>
    <script src="~/lib/material-dashboard/js/material-dashboard.js"></script>

</body>
</html>