<div class="sidebar" data-color="blue" data-image="../img/cover.jpeg">
    <div class="logo">
        <span class="simple-text">
            College Grades
        </span>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="./dashboard.html">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a asp-action="Index" asp-controller="Teachers">
                    <i class="material-icons">people</i>
                    <p>Teachers</p>
                </a>
            </li>
            <li>
                <a href="./products.html">
                    <i class="material-icons">book</i>
                    <p>Subjects</p>
                </a>
            </li>

            <li>
                <a href="./categories.html">
                    <i class="material-icons">grade</i>
                    <p>Grades</p>
                </a>
            </li>
        </ul>
    </div>
</div>